.grid{
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(3, 50px);
    border: 1px solid black;
}

.item{
    border: 1px solid black;
    background-color: tomato;
    align-self: end;
}